div.ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 40px;
    /* margin-right: "10%"; */
    gap: 20px;
    border: 5px outset black;
}

div.ButtonContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 25px 50px 75px 100px; */
    /* margin-right: "10%"; */
    gap: 20px;
    /* border: 5px outset black; */
}

button:not(.PromptButton):not(.AnimationButton){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

button.currBtn{
    /*not sure what other colors we were using so I just grabbed a color in a similar area*/
    background-color: rgb(47, 98, 252);
    color: white;
}

button.currBehavior{
    border: 10px solid grey;
}

button.interrupt{
    background-color: lightgray;
}

button.PromptButton{
    width: 240px;
}

button.AnimationButton{
    width: 140px;
}