.textBox {
    margin-left: 10px;
    width: 400px;
    /* Adjust width as needed */
    height: 50px;
    /* Adjust height as needed */
    font-size: 20px;
    /* Adjust font size as needed */
    border-radius: 15px;
    /* Adjust border radius as needed */
    border-top: 4px solid grey;
    border-left: 4px solid grey;
    border-color: grey;
    border-width: 5px;
    /* Adjust border width as needed */
}

.textBox:focus {
    outline: none;
}