div.ButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em 2.5em;
    /* margin-right: "10%"; */
    gap: 1.25em;
    border: 5px outset black;
    min-width: 14.75em;
}

div.ButtonContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 25px 50px 75px 100px; */
    /* margin-right: "10%"; */
    gap: 1.25em;
    /* border: 5px outset black; */
}

button.currBtn{
    /*not sure what other colors we were using so I just grabbed a color in a similar area*/
    background-color: rgb(47, 98, 252);
    color: white;
}

button.PromptButton{
    width: 5.9em;
    text-align: center;
}

button.AnimationButton{
    width: 3.75em;
    text-align: center;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 70em;
    min-height: 100vh;
  }